.p-4 {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.todo-input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#tastInput {
    padding: 10px;
    font-family: Arial, sans-serif;
}

#taskInput:active,
#taskInput:focus {
    outline: none;
}

.bi-filter-left {
    margin-left: 10px;
}

.bi {
    font-size: 20px;
}

#taskList {
    display: flex;
    gap: 20px;
    padding: 0;
    margin-left: 10px;
}

.ppg {
    position: relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 2px;
}

.ppg:hover {
    color: blue;
}
.active {
    color: blue;
    border-bottom: 3px solid blue;
}
@media (max-width: 600px) {
    .p-4 {
        max-width: 80%;
        padding: 20px;
    }

    .todo-input {
        font-size: 14px;
    }

    .bi {
        font-size: 20px;
    }
}
@media (max-width: 450px) {

    .todo-input {
        font-size: 12px;
    }

    .bi {
        font-size: 16px;
    }
    #add {
        padding: 6px 10px;
        font-size: 12px;
    }
    #taskInput {
        font-size: 14px;
        padding: 8px;
        width: 100%;
    }
    #taskList {
        gap: 10px;
        margin-left: 0;
    }
    #clearAll {
        font-size: 12px;
        padding: 6px 10px;
    }
    .me-3 {
        font-size: 15px;
    }
    .bi {
        font-size: 20px;
    }
}
@media (max-width: 350px) {
    .p-4 {
        padding: 15px;
    }
    h1 {
        font-size: 18px;
    }
    .todo-input {
        font-size: 10px;
    }
    .bi {
        font-size: 14px;
    }
    #taskInput {
        font-size: 12px;
        padding: 6px;
    }
    #taskList {
        gap: 8px;
        margin-left: 0;
        font-size: 12px;
    }
    .me-3 {
        font-size: 12px;
    }
    #clearAll {
        font-size: 10px;
        padding: 4px 8px;
    }
    .bi {
        font-size: 20px;
    }
}